In [ ]:
a = 10

In [15]:
if a < 15:
    print("my name is sudhir")

my name is sudhir

In [14]:
a <15

True

In [17]:
if a < 15:
    print("my name is sudhir")

my name is sudhir

In [19]:
if 24 > 15:
    print("my name is sudhir")

my name is sudhir

In [22]:
if 8 < 9:
    print("10 is lesser than 3")
else :
    print("if statemetn is wrong")

10 is lesser than 3

In [4]:
a = int(input())
if a <= 10 :
    print("a is lesser than 10")
else :
    print("a is greater than 10")

2
a is lesser than 10

In [22]:
a = float(input())
if a < 10:
    print("a is lesser than 10")
elif a >= 10 and a < 20 :
    print("is greater than 10 & less than 20")
elif a >= 20 and a < 50 :
    print("is greater than 20 & less than 50")
elif a >= 50 and a < 100 :
    print("is greater than 50 & less than 100")
else :
    print("this is unacceptable value")

98
is greater than 50 & less than 100

In [21]:
income = int(input())
if income < 50:
    print("i will able to buy phone")
elif income < 70:
    print("i will be able to buy car")
elif income < 90:
    print("i will be able to rent a house")
else :
    print("i wont be able to buy any thing")

50
i will be able to buy car

In [49]:
total_price = int(input())
if total_price > 20000:
    discount = total_price * .20
    print("discount will be" , discount)
elif total_price <= 7000:
    discount = total_price * .05
    print("discount will be" , discount)
else :
    print("wont be able to give any discount")

21000
discount will be 4200.0

In [ ]:
s = input("enter a string to star")
course = input("enter a course name")
service = input("enter service a name")
if s == "one neuron":
    if course == "dsa":
        print("yes its available")
    elif course == "fsds":
        print("yes it is available right")
    else :
        print("not available")
elif s == "one neuron service":
    if service == "course request":
        print("please request a demand for new course")
    elif service == "module":
        print("raise demand to any new course")
    elif service =="doubt":
        print("learner you can raise demand")
    elif service =="work with us":
        print("you can raise a request for work with us")
    else :
        print("give your feedback")
else :
    print("kindly connect with our team")

In [ ]:
 k = input("enter the compnay name")
applied_post = input("enter the name of post")
Post_name = input("data science")
if k == "ecs":
    if applied_post == "enggineer" :
        print("you can apply for enggineer post")
    elif applied_post == "executive" :
        print("you can also apply for executive")
    else :
        print("you can enquiry for another post")
elif k =="ecs":
    if Post_name =="data science":
        print("you can apply for data science post")
    elif Post_name == "ask for post":
        print("you can contact to HR")
    else :
        print("no vaccant")
else :
    print("enqiry with HR")

In [ ]:
l = ["name" , "email id", "phone" , "address"]
for i in l :
    print(i)

In [59]:
l

['name', 'email id', 'phone', 'address']

In [46]:
for i in l:
    if i == "emailid":
        break
    print(i)
else :
    print("if for loop")

1
2
5.6
6
if for loop

In [47]:
i

6

In [63]:
a = 1
while a < 6:
    print(a)
    a = a+1

1
2
3
4
5

In [65]:
a = 1
while a < 5:
    print(a)
    if a ==4:
        break
    a = a+1

1
2
3
4

In [66]:
a = 1
while a < 5 :
    print(a)
    if a ==3:
        continue
    a = a+1

IndentationError: expected an indented block (Temp/ipykernel_13412/936073260.py, line 2)

In [ ]:
while a < 5
    break

In [67]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [69]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [70]:
list(range(4,100))

[4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [72]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [73]:
list(range(3,10,-1))

[]

In [74]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [76]:
list(range(10,-5,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [77]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [78]:
n =5
for i in range(0,n):
    for j in range(0,i+1):
        print("++",end = "")
    print("\r")

++
++++
++++++
++++++++
++++++++++

In [81]:
l = [1,2,3,4,5,77,77,8,8,]
for i in range(len(l)) :
    print(i)

0
1
2
3
4
5
6
7
8

In [80]:
l

[1, 2, 3, 4, 5, 77, 77, 8, 8]

In [82]:
t = (3,4,4,5,6,7,7)

In [83]:
t

(3, 4, 4, 5, 6, 7, 7)

In [86]:
for i in range(len(t)-1,-1,-1) :
    print(t[i])

7
7
6
5
4
4
3

In [89]:
d = {"a" : "fkgj" , "d" : "dfdf", "c" : "lasf" }

In [90]:
for i in d:
    print(i)

a
d
c

In [11]:
t = (3,4,4,5,6,7,8,9,3,6)
for i in range(len(t)):
    print(i,t[i])

0 3
1 4
2 4
3 5
4 6
5 7
6 8
7 9
8 3
9 6

In [12]:
t

(3, 4, 4, 5, 6, 7, 8, 9, 3, 6)

In [13]:
t[::-1]

(6, 3, 9, 8, 7, 6, 5, 4, 4, 3)

In [21]:
t = (3,4,4,5,6,7,8,9,3,6)
for i in list(range(len(t)-1,-1,-1)):
    print(t[i])

6
3
9
8
7
6
5
4
4
3

In [24]:
d ={"a" : "fjfvf" , "b" : "sudhf" , "c" :[1,2,3,45] , "d" : (1,2,3,4,58,5,66) , "e" : "kuamr"}

In [25]:
for i in d:
    print(i)

a
b
c
d
e

In [26]:
 for i in d:
        print(i,d[i])

a fjfvf
b sudhf
c [1, 2, 3, 45]
d (1, 2, 3, 4, 58, 5, 66)
e kuamr

In [28]:
for i in d.items():
    print(i)

('a', 'fjfvf')
('b', 'sudhf')
('c', [1, 2, 3, 45])
('d', (1, 2, 3, 4, 58, 5, 66))
('e', 'kuamr')

In [32]:
s = {3,530,6652,7,7,5,6,8,5,4,5,6,8,21,4,23,5,2,4,5,6}

In [33]:
s

{2, 3, 4, 5, 6, 7, 8, 21, 23, 530, 6652}

In [34]:
for i in s:
    print(i)

2
3
4
5
6
7
8
530
21
23
6652

In [35]:
l = [1,2,3,4,6,7,2,5]
for i in l:
    print(i)

1
2
3
4
6
7
2
5

In [36]:
s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [38]:
t = (1,2,3,5,68,5,2)

In [39]:
for i in t:
    print(i)

1
2
3
5
68
5
2

In [41]:
l = [1,2,5.6,4+7j,"sudh"]

In [42]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [44]:
l = [1,2,5.6,6]
l1 = []
for i in l:
    print(i+2)
    l1.append(i+2)

3
4
7.6
8

In [45]:
l1

[3, 4, 7.6, 8]

In [50]:
s = "this is basic class"
len(s)

19

In [51]:
count = 0
for i in s:
    count = count +1
print(count)

19

In [52]:
count = 0
for i in s:
    #count = count +1
    count+=1
print(count)

19

In [59]:
s = "this is basic class"

In [60]:
s[::-1]

'ssalc cisab si siht'

In [61]:
for i in range(len(s)-1, -1-1):
    print(s[i])

In [62]:
s = "this is basic class"

In [63]:
s

'this is basic class'

In [64]:
for i in range(len(s)-1, -1-1):
    print(s[i])

In [ ]:
s = "ineuron"
v = "AaEeIiOoUo"

In [ ]:
"tnent"
"malaylam"
"eye"

In [67]:
s = input()
v =s[::-1]
if s ==v:
    print("is pelindrome")
else :
    print("Not pelindrome")

sudh
Not pelindrome

In [68]:
d = {"india" : "IN" , "canada" : "CA" , "china" : "ch" , "usa" : "US"}

In [69]:
d

{'india': 'IN', 'canada': 'CA', 'china': 'ch', 'usa': 'US'}

In [70]:
"india" in d

True

In [73]:
list(range(len[d]-1,-1))

TypeError: 'builtin_function_or_method' object is not subscriptable

In [76]:
L_greater = []
l_smaller = []
for i in d:
    if len(i)
    print(i)

SyntaxError: invalid syntax (Temp/ipykernel_12976/1363482195.py, line 2)

In [109]:
d_1 = {"ineuron": {"a" :14,"b" :10,"c" :4} , "course" : {'d':45,"e" :34,"f":1}}

In [106]:
d2 = {"ineuron": {"a" :14,"b" :10,"c" :4} , "course" : {'d':45,"e" :34,"f":1} , "g" :"sidjg", "hh" : (1,2,35), "i" : 123 , "j" : [1,23,5,6,8]}

In [110]:
d2

{'ineuron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1},
 'g': 'sidjg',
 'hh': (1, 2, 35),
 'i': 123,
 'j': [1, 23, 5, 6, 8]}

In [5]:
first_name = input("enter the first name:")
last_name = input("enter the last name:")
if first_name == 'sudhir'and last_name == 'kumar':
    print("my name is :",first_name ,last_name)
else :
    print("name is not correct")

enter the first name:sudhir
enter the last name:kumar
my name is : sudhir kumar

In [7]:
if a == 10 : print("this is valid")

NameError: name 'a' is not defined

In [10]:
a = 10

In [11]:
if a == 10: 
    print("this is valid")

this is valid

In [13]:
initial_speed = 0
final_speed = 100
count = 1
while initial_speed <= final_speed:
    print("speed is")
    count = count +1
    if count == 10:
        break

speed is
speed is
speed is
speed is
speed is
speed is
speed is
speed is
speed is

In [16]:
i = 1
j = 5
while i<j:
    print(i)
    i = i+1

1
2
3
4

In [17]:
notes = 5
i = 1
while i < notes :
    print(i)
    i = i+1
else :
    print("no 10rs notes are available")

1
2
3
4
no 10rs notes are available

In [18]:
s = "sudh"

In [23]:
s[0]

's'

In [25]:
len(s)

4

In [26]:
s[-1]

'h'

In [27]:
s = "my name is sudhir"

In [28]:
s[-1]

'r'

In [29]:
s[::-1]

'rihdus si eman ym'

In [30]:
s = "ineoron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss+s[i]

In [31]:
ss

'ieoro'

In [40]:
s = "sudh"

In [41]:
for i in s:
    print(i)

s
u
d
h

In [39]:
s

7

In [45]:
n = 8
for i in range(0 ,n):
    for j in range(0 ,i+1):
        print("+ ",end = "")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +
+ + + + + + + +

In [48]:
n = 8
for i in range(0 ,n):
    for j in range(8 ,8:i-1):
        print("+ ",end = "")
    print("\r")

SyntaxError: invalid syntax (Temp/ipykernel_14412/2209879602.py, line 3)

In [49]:
range(10,0)

range(10, 0)

In [80]:
n = int(input('enter the rows required:'))
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ' , end = '')
        
    for j in range(2*i-1):
        print("*" , end = "")
    print()

enter the rows required:9
*****************
 ***************
  *************
   ***********
    *********
     *******
      *****
       ***
        *

In [6]:
for i in range(8,4,-1):
    print(i)

8
7
6
5

In [17]:
n = 9
i = 0
while i < n:
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [18]:
l = list()

In [19]:
name = "sudhir"
ph no = 9856255
add = "salapur"

SyntaxError: invalid syntax (Temp/ipykernel_7228/905978117.py, line 2)

In [22]:
l = ["sudhf", 1256,'fggbgj',True,45+8j,[1,2,5,"sud"],6.45  ]

In [37]:
for i in l:
    if type(i) == list:
        for j in i:
            if j == int:
,,                print(type(j))

In [38]:
l

['sudhf', 1256, 'fggbgj', True, (45+8j), [1, 2, 5, 'sud'], 6.45]

In [46]:
for i in l:
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [54]:
for i in l:
    if type(i) == list:
        n = 0
        for j in i:
            if type(j) == int:
                n = n+j
                
        print(n)

8

In [56]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]