In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("sudhir.db")

In [3]:
c = db.cursor()

In [4]:
c.execute('create table fsds(name text , batchid int , marks real)')

In [7]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 4A61-45C6

 Directory of C:\Users\Admin-ECS

10/03/2022  16:34    <DIR>          .
10/03/2022  16:34    <DIR>          ..
24/02/2022  12:08    <DIR>          .conda
10/03/2022  16:09    <DIR>          .ipynb_checkpoints
16/12/2021  13:11    <DIR>          .ipython
16/12/2021  15:16    <DIR>          .jupyter
19/09/2021  16:30    <DIR>          .vscode
07/02/2022  15:39    <DIR>          __pycache__
17/10/2020  22:25    <DIR>          3D Objects
16/12/2021  11:59    <DIR>          anaconda3
12/08/2021  00:13               151 BullseyeCoverageError.txt
26/02/2022  18:21            10,988 Class  Oops inheritence.ipynb
17/10/2020  22:25    <DIR>          Contacts
19/12/2021  10:13    <DIR>          Desktop
24/02/2022  01:31    <DIR>          Documents
10/03/2022  13:52    <DIR>          Downloads
03/02/2022  15:13            13,656 Exceptional Handling.ipynb
17/10/2020  22:25    <DIR>          Favorites
07/02/2022  10:59           118,756 function.ipynb
02/03/2022  21:05            11,903 glass.data
07/02/2022  10:48             1,099 google.txt
17/10/2020  22:25    <DIR>          Links
23/02/2022  18:10            10,170 logging & Modules.ipynb
30/12/2021  21:48            44,679 loop.ipynb
09/03/2022  15:30            13,402 mongodb.ipynb
17/10/2020  22:25    <DIR>          Music
07/02/2022  15:38               211 my_module.py
07/03/2022  22:08           547,683 mysql.ipynb
07/08/2021  20:46    <DIR>          OneDrive
30/12/2020  13:03    <DIR>          Pictures
17/10/2020  22:25    <DIR>          Saved Games
17/10/2020  22:25    <DIR>          Searches
10/03/2022  16:33             4,962 SQL Lite.ipynb
19/12/2021  17:16            30,754 String list.ipynb
10/03/2022  16:29             8,192 sudhir.db
10/03/2022  16:34             4,616 sudhir.db-journal
07/02/2022  12:36               313 test.log
05/02/2022  16:28                 0 test.txt
22/01/2022  10:30                 0 test1.py
07/02/2022  12:50               784 test2.log
09/01/2022  12:02                19 test2.txt
07/02/2022  13:47             2,265 test3.log
07/02/2022  15:27               269 test5.py
30/12/2021  05:48    <DIR>          Tracing
19/12/2021  14:07            87,267 tuples set dictionary.ipynb
16/12/2021  15:04            11,923 Untitled.ipynb
24/02/2022  13:25            21,371 Untitled1.ipynb
19/12/2021  10:11               588 Untitled2.ipynb
19/12/2021  11:00             3,845 Untitled3.ipynb
11/11/2020  03:39    <DIR>          Videos
              27 File(s)        949,866 bytes
              23 Dir(s)  926,945,439,744 bytes free

In [6]:
c.execute("insert into fsds values('sudhirk' ,35456 ,458.56)")

In [8]:
c.execute("insert into fsds values('sudhirk' ,35456 ,458.56)")

In [9]:
c.execute("insert into fsds values('sudhirk' ,35456 ,458.56)")
c.execute("insert into fsds values('sudhirk' ,35456 ,458.56)")
c.execute("insert into fsds values('sudhirk' ,35456 ,458.56)")
c.execute("insert into fsds values('sudhirk' ,35456 ,458.56)")
c.execute("insert into fsds values('sudhirk' ,35456 ,458.56)")

In [10]:
c.execute("select * from fsds")

In [11]:
data = c.execute("select * from fsds")

In [13]:
for i in data:
    print(i)

('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)

In [14]:
db.commit()

In [15]:
db.close()

In [16]:
db = sqlite3.connect("sudhir.db")

In [17]:
c= db.cursor()

In [18]:
c.execute("select * from fsds where marks > 400")

In [19]:
data = c.execute("select * from fsds where marks > 400")

In [20]:
for i in data:
    print(i)

('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)

In [23]:
data = c.execute("select * from fsds where name = 'sudhirk'")

In [24]:
for i in data:
    print(i)

('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)
('sudhirk', 35456, 458.56)

In [25]:
data = c.execute("select name , marks from fsds")

In [26]:
for i in data:
    print(i)

('sudhirk', 458.56)
('sudhirk', 458.56)
('sudhirk', 458.56)
('sudhirk', 458.56)
('sudhirk', 458.56)
('sudhirk', 458.56)
('sudhirk', 458.56)

In [27]:
data = c.execute("select name , marks from fsds order by marks")

In [28]:
for i in data:
    print(i)

('sudhirk', 458.56)
('sudhirk', 458.56)
('sudhirk', 458.56)
('sudhirk', 458.56)
('sudhirk', 458.56)
('sudhirk', 458.56)
('sudhirk', 458.56)

In [29]:
db.close()

In [31]:
db = sqlite3.connect("person.db")

In [32]:
c = db.cursor()

In [35]:
 c.execute("create table person_table(name text , emailid text age int , salary real)")

OperationalError: table person_table already exists

In [34]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 4A61-45C6

 Directory of C:\Users\Admin-ECS

10/03/2022  17:01    <DIR>          .
10/03/2022  17:01    <DIR>          ..
24/02/2022  12:08    <DIR>          .conda
10/03/2022  16:09    <DIR>          .ipynb_checkpoints
16/12/2021  13:11    <DIR>          .ipython
16/12/2021  15:16    <DIR>          .jupyter
19/09/2021  16:30    <DIR>          .vscode
07/02/2022  15:39    <DIR>          __pycache__
17/10/2020  22:25    <DIR>          3D Objects
16/12/2021  11:59    <DIR>          anaconda3
12/08/2021  00:13               151 BullseyeCoverageError.txt
26/02/2022  18:21            10,988 Class  Oops inheritence.ipynb
17/10/2020  22:25    <DIR>          Contacts
19/12/2021  10:13    <DIR>          Desktop
24/02/2022  01:31    <DIR>          Documents
10/03/2022  13:52    <DIR>          Downloads
03/02/2022  15:13            13,656 Exceptional Handling.ipynb
17/10/2020  22:25    <DIR>          Favorites
07/02/2022  10:59           118,756 function.ipynb
02/03/2022  21:05            11,903 glass.data
07/02/2022  10:48             1,099 google.txt
17/10/2020  22:25    <DIR>          Links
23/02/2022  18:10            10,170 logging & Modules.ipynb
30/12/2021  21:48            44,679 loop.ipynb
09/03/2022  15:30            13,402 mongodb.ipynb
17/10/2020  22:25    <DIR>          Music
07/02/2022  15:38               211 my_module.py
07/03/2022  22:08           547,683 mysql.ipynb
07/08/2021  20:46    <DIR>          OneDrive
10/03/2022  17:01             8,192 person.db
30/12/2020  13:03    <DIR>          Pictures
17/10/2020  22:25    <DIR>          Saved Games
17/10/2020  22:25    <DIR>          Searches
10/03/2022  17:01            12,052 SQL Lite.ipynb
19/12/2021  17:16            30,754 String list.ipynb
10/03/2022  16:38             8,192 sudhir.db
07/02/2022  12:36               313 test.log
05/02/2022  16:28                 0 test.txt
22/01/2022  10:30                 0 test1.py
07/02/2022  12:50               784 test2.log
09/01/2022  12:02                19 test2.txt
07/02/2022  13:47             2,265 test3.log
07/02/2022  15:27               269 test5.py
30/12/2021  05:48    <DIR>          Tracing
19/12/2021  14:07            87,267 tuples set dictionary.ipynb
16/12/2021  15:04            11,923 Untitled.ipynb
24/02/2022  13:25            21,371 Untitled1.ipynb
19/12/2021  10:11               588 Untitled2.ipynb
19/12/2021  11:00             3,845 Untitled3.ipynb
11/11/2020  03:39    <DIR>          Videos
              27 File(s)        960,532 bytes
              23 Dir(s)  926,923,350,016 bytes free

In [36]:
c.execute("insert into person_table values('sudh', 35 , 25658)")

In [37]:
c.execute("insert into person_table values('sudh', 35 , 25658)")
c.execute("insert into person_table values('amit', 36 , 25685)")
c.execute("insert into person_table values('raja', 39 , 24585)")
c.execute("insert into person_table values('dev', 35 , 25032)")

In [38]:
data = c.execute("select * from person_table")

In [39]:
for i in data:
    print(i)

('sudh', 35, 25658.0)
('sudh', 35, 25658.0)
('amit', 36, 25685.0)
('raja', 39, 24585.0)
('dev', 35, 25032.0)

In [42]:
db.commit()

In [43]:
db.close()

In [44]:
db = sqlite3.connect("sudhir.db")

In [45]:
c = db.cursor()

In [46]:
c.execute("drop table fsds")

In [47]:
c.execute("select * from fsds")

OperationalError: no such table: fsds

In [48]:
db.close()

In [49]:
db = sqlite3.connect("person.db")

In [51]:
c = db.cursor()

In [52]:
data = c.execute("select * from person_table limit 2")

In [53]:
for i in data:
    print(i)

('sudh', 35, 25658.0)
('sudh', 35, 25658.0)

In [54]:
db.close()

In [62]:
db = sqlite3.connect('jobdb.db')

In [63]:
c = db.cursor()

In [57]:
c.execute('create table student(student_id int , student_name text , student_emailid text , marks int)')

In [72]:
c.execute('create table address(student_id int , pincode int , location text , nearby text , phone_no int)')

In [60]:
c.execute('drop table address')

In [65]:
c.execute("insert into student values(234, 'sudhirp', 'kumar.sudhir@gmail.com', 258)")
c.execute("insert into student values(256, 'sudhirp', 'kumar.sudhir@gmail.com', 258)")
c.execute("insert into student values(235, 'sudhirp', 'kumar.sudhir@gmail.com', 258)")
c.execute("insert into student values(2356, 'sudhirp', 'kumar.sudhir@gmail.com', 258)")
c.execute("insert into student values(2345, 'sudhirp', 'kumar.sudhir@gmail.com', 258)")
c.execute("insert into student values(23464, 'sudhirp', 'kumar.sudhir@gmail.com', 258)")
c.execute("insert into student values(23452, 'sudhirp', 'kumar.sudhir@gmail.com', 258)")
c.execute("insert into student values(23446, 'sudhirp', 'kumar.sudhir@gmail.com', 258)")
c.execute("insert into student values(23478, 'sudhirp', 'kumar.sudhir@gmail.com', 258)")
c.execute("insert into student values(23445, 'sudhirp', 'kumar.sudhir@gmail.com', 258)")
c.execute("insert into student values(23402, 'sudhirp', 'kumar.sudhir@gmail.com', 258)")
c.execute("insert into student values(234128, 'sudhirp', 'kumar.sudhir@gmail.com', 258)")

In [73]:
c.execute("insert into address values(234 ,110061 , 'salapur', 'bijwasan', 9810838709)")
c.execute("insert into address values(256 ,110061 , 'salapur', 'bijwasan', 9810838709)")
c.execute("insert into address values(235,110061 , 'salapur', 'bijwasan', 9810838709)")
c.execute("insert into address values(2356 ,110061 , 'salapur', 'bijwasan', 9810838709)")
c.execute("insert into address values(2345 ,110061 , 'salapur', 'bijwasan', 9810838709)")
c.execute("insert into address values(23585 ,110061 , 'salapur', 'bijwasan', 9810838709)")
c.execute("insert into address values(23574 ,110061 , 'salapur', 'bijwasan', 9810838709)")
c.execute("insert into address values(23452 ,110061 , 'salapur', 'bijwasan', 9810838709)")
c.execute("insert into address values(23595 ,110061 , 'salapur', 'bijwasan', 9810838709)")
c.execute("insert into address values(235065 ,110061 , 'salapur', 'bijwasan', 9810838709)")
c.execute("insert into address values(23445 ,110061 , 'salapur', 'bijwasan', 9810838709)")
c.execute("insert into address values(235956 ,110061 , 'salapur', 'bijwasan', 9810838709)")

In [67]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(256, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(235, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(2356, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(2345, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23464, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23452, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23446, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23478, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23445, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23402, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(234128, 'sudhirp', 'kumar.sudhir@gmail.com', 258)

In [74]:
for i in c.execute("select * from address"):
    print(i)

(234, 110061, 'salapur', 'bijwasan', 9810838709)
(256, 110061, 'salapur', 'bijwasan', 9810838709)
(235, 110061, 'salapur', 'bijwasan', 9810838709)
(2356, 110061, 'salapur', 'bijwasan', 9810838709)
(2345, 110061, 'salapur', 'bijwasan', 9810838709)
(23585, 110061, 'salapur', 'bijwasan', 9810838709)
(23574, 110061, 'salapur', 'bijwasan', 9810838709)
(23452, 110061, 'salapur', 'bijwasan', 9810838709)
(23595, 110061, 'salapur', 'bijwasan', 9810838709)
(235065, 110061, 'salapur', 'bijwasan', 9810838709)
(23445, 110061, 'salapur', 'bijwasan', 9810838709)
(235956, 110061, 'salapur', 'bijwasan', 9810838709)

In [69]:
db.commit()

In [70]:
c.execute("drop table address")

In [75]:
data = c.execute("select * from address s left join student a on s.student_id=a.student_id")

In [76]:
for i in data:
    print(i)

(234, 110061, 'salapur', 'bijwasan', 9810838709, 234, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(256, 110061, 'salapur', 'bijwasan', 9810838709, 256, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(235, 110061, 'salapur', 'bijwasan', 9810838709, 235, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(2356, 110061, 'salapur', 'bijwasan', 9810838709, 2356, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(2345, 110061, 'salapur', 'bijwasan', 9810838709, 2345, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23585, 110061, 'salapur', 'bijwasan', 9810838709, None, None, None, None)
(23574, 110061, 'salapur', 'bijwasan', 9810838709, None, None, None, None)
(23452, 110061, 'salapur', 'bijwasan', 9810838709, 23452, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23595, 110061, 'salapur', 'bijwasan', 9810838709, None, None, None, None)
(235065, 110061, 'salapur', 'bijwasan', 9810838709, None, None, None, None)
(23445, 110061, 'salapur', 'bijwasan', 9810838709, 23445, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(235956, 110061, 'salapur', 'bijwasan', 9810838709, None, None, None, None)

In [77]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(256, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(235, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(2356, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(2345, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23464, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23452, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23446, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23478, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23445, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(23402, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(234128, 'sudhirp', 'kumar.sudhir@gmail.com', 258)

In [78]:
c.execute('delete from student where student_id > 2000')

In [79]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(256, 'sudhirp', 'kumar.sudhir@gmail.com', 258)
(235, 'sudhirp', 'kumar.sudhir@gmail.com', 258)

In [81]:
data = c.execute("select * from student")

In [82]:
data.fetchall()

[(234, 'sudhirp', 'kumar.sudhir@gmail.com', 258),
 (256, 'sudhirp', 'kumar.sudhir@gmail.com', 258),
 (235, 'sudhirp', 'kumar.sudhir@gmail.com', 258)]

In [83]:
c.execute("update student set student_id = 1000 where student_id =256 ")

In [84]:
data = c.execute("select * from student")
data.fetchall()

[(234, 'sudhirp', 'kumar.sudhir@gmail.com', 258),
 (1000, 'sudhirp', 'kumar.sudhir@gmail.com', 258),
 (235, 'sudhirp', 'kumar.sudhir@gmail.com', 258)]